<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Electric Meter Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel = "stylesheet" type ="text/css "th:href="@{/index.css}"
</head>

<body>
    <div>
    <div class="headerComponent add">
        <h1>Electric Meter Manager</h1>
    </div>
    <div class="newMeter__body">
    <div class="newMeter__bodyContent">
        <h2>Add Data</h2>

        <form action="#" th:action="@{/user/saveMeterData}" th:object="${meterData}" method="POST">
        <div class = "m-3">
        	<div class = "form-group row">
            <label class="col-form-Label col-sm-4">Meter Name</label>
            	<div class="col-sm-8">
            		<select th:field = "*{meter}" class="form-control" required>
            		<th:block th:each= "met : ${listMeter}">
            		<option th:text = "${met.meterName}" th:value = "${met.id}"></option>
            		</th:block>
            		</select>
            	</div>
            </div>
            <div class = "form-group row">
            <label class="col-form-Label col-sm-4">Month</label>
            	<div class="col-sm-8">
            		<!--<input type="text" th:field="*{month}" class="form-control" required/>-->
            		<select type="text" th:field="*{month}" class="form-control" required>
            		<option th:text = "January" th:value = "1"></option>
            		<option th:text = "February" th:value = "2"></option>
            		<option th:text = "March" th:value = "3"></option>
            		<option th:text = "April" th:value = "4"></option>
            		<option th:text = "May" th:value = "5"></option>
            		<option th:text = "June" th:value = "6"></option>
            		<option th:text = "July" th:value = "7"></option>
            		<option th:text = "August" th:value = "8"></option>
            		<option th:text = "September" th:value = "9"></option>
            		<option th:text = "October" th:value = "10"></option>
            		<option th:text = "November" th:value = "11"></option>
            		<option th:text = "December" th:value = "12"></option>
            		</select>
            	</div>
            </div>
            <div class = "form-group row">
            <label class="col-form-Label col-sm-4">cost</label>
            	<div class="col-sm-8">
            		<input type="text" th:field="*{cost}" class="form-control" required/>
            	</div>
            </div>
            <div class = "form-group row">
            <label class="col-form-Label col-sm-4">Due Date</label>
            	<div class="col-sm-8">
            		<input type="date" th:field="*{dueDate}" class="form-control" required/>
            	</div>
            </div>
            <div class = "form-group row">
            <label class="col-form-Label col-sm-4">Payment Date</label>
            	<div class="col-sm-8">
            		<input type="date" th:field="*{paymentDate}" class="form-control" required/>
            	</div>
            </div>
            <div class = "form-group row">
            <label class="col-form-Label col-sm-4">Payment Mode</label>
            	<div class="col-sm-8">
            		<input type="text" th:field="*{paymentMode}" class="form-control" required/>
            	</div>
            </div>
            <div class = "form-group row">
            <label class="col-form-Label col-sm-4">Payment Id</label>
            	<div class="col-sm-8">
            		<input type="text" th:field="*{paymentId}" class="form-control" required/>
            	</div>
            </div>
        </div>
            
            <button type="submit" class="newMeter__button"> Save Meter</button>
        </form>
        
    </div>
        <a th:href="@{/user/Signin}">👈 Back to Meter List</a>
        <a th:href="@{/user/seeHistory}"> History</a>
    </div>
    </div>
</body>
</html>